<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>图片上传demo</title>
</head>
<body>

    <input type="file" id="img-upload">
    <button id="submit-button">开始上传</button>
    <button class="record-btn">record</button>
    <audio controls class="audio-player"></audio>
    
    <script src="./js/jquery-3.1.0.min.js"></script>
    <script>
        $('#submit-button').on('click',function(){
            var myPhoto = $('#img-upload')[0].files[0];
            var oMyForm = new FormData();
            oMyForm.append("name", 'crazyJiaLin');
            oMyForm.append("userfile", myPhoto);
            $.ajax({
                type : 'POST',
                url : '/imgUpload',
                cache : false,  //不需要缓存
                processData : false,    //不需要进行数据转换
                contentType : false, //默认数据传输方式是application,改为false，编程multipart
                data : oMyForm,
                dataType : 'json'
            }).done(function(data){
                console.log(data);
                alert(data.errMsg);
            }).fail(function(err){
                console.error(err);
            });
        });

        const recordBtn = document.querySelector(".record-btn");
        const player = document.querySelector(".audio-player");

        if (navigator.mediaDevices.getUserMedia) {
        var chunks = [];
        const constraints = { audio: true };
        navigator.mediaDevices.getUserMedia(constraints).then(
            stream => {
            console.log("授权成功！");

            const mediaRecorder = new MediaRecorder(stream);

            recordBtn.onclick = () => {
                if (mediaRecorder.state === "recording") {
                mediaRecorder.stop();
                recordBtn.textContent = "record";
                console.log("录音结束");
                } else {
                mediaRecorder.start();
                console.log("录音中...");
                recordBtn.textContent = "stop";
                }
                console.log("录音器状态：", mediaRecorder.state);
            };

            mediaRecorder.ondataavailable = e => {
                chunks.push(e.data);
            };

            mediaRecorder.onstop = e => {
                const audioBlob = new Blob(chunks, {type: 'audio/wav'})
            
                var audioURL = window.URL.createObjectURL(audioBlob);
                player.src = audioURL;
                
                const link = document.createElement('a');
                link.href = audioURL;
                link.download = 'audio.wav';
                link.click();
                
                const formData = new FormData()
                formData.append('audio', audioBlob, 'recording.wav');
                chunks = [];

                $.ajax({
                    type : 'POST',
                    url : '/imgUpload',
                    cache : false,  //不需要缓存
                    processData : false,    //不需要进行数据转换
                    contentType : false, //默认数据传输方式是application,改为false，编程multipart
                    data : formData,
                    dataType : 'json'
                }).done(function(data){
                    console.log(data);
                    alert(data.errMsg);
                }).fail(function(err){
                    console.error(err);
                });
            };
            },
            () => {
            console.error("授权失败！");
            }
        );
        } else {
        console.error("浏览器不支持 getUserMedia");
        }
    </script>
</body>
</html>